

.main hr{
    border: 1px solid rgba(17, 17, 17, 0.15);
    margin-bottom: 35px;
}
.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.header h2 {
    font-weight: 700;
    font-size: 40px;
    color: rgb(72, 72, 74);
}
.nav-bar{
    display: flex;
    gap: 45px;
    align-items: center;

}
.nav-bar a{
    text-decoration: none;
    color: rgba(72, 72, 74, 0.968);
    font-weight: 700;
    font-size: 21px;
}

@media only screen and (max-width: 600px) {
    

    
    .header img {
        width: 40px;
        height: 40px;

    }
    
    .header h2 {
        font-size: 16px;
    }
    .nav-bar{
        gap: 15px;
      
    }
    .nav-bar a{
        font-weight: 700;
        font-size: 12px;
    }



}